extends layout
block content
    div(hidden=true).logged#logged
        #welcome
        p Here are your current tasks :
        div.tasks
            div.task_cat#habits
            div.task_cat#dailies
            div.task_cat#todos
        button(type='button')#btn-logout.btn-logout Logout
    div.login#login
        h1 Sign in
            fieldset
                input#userId.form-control(type='text' placeholder='User ID' name='userId', required=true)
                br
                input#apiKey.form-control(type='password' placeholder='Password' name='apiKey' required=true)
                br
                input#apiUrl.form-control(type='url' placeholder='http://...' name='apiUrl')
                br
                button(type='button')#btn-login.btn-login Sign in