doctype html
- var title = 'HabiticaShow'
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    p The habiticaAPI is : #{apiStatus}
    block header
      header.header
        h1 #{title}
    block content
