doctype html
- var title = 'HabiticaShow'
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.header
        a(href='./')
          div
            h1 #{title}
      div.under-header#h_login
        div.h_cat_login
          p Login
        div.h_cat_login
          p About
      div.under-header#h_logged
        div.h_cat_logged
          p Index
        div.h_cat_logged
          p Batching tasks
        div.h_cat_logged
          p Graph
        div.h_cat_logged
          p About
        div.h_cat_logged
          p Logout

    block content
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/javascripts/global.js')
