doctype html
- var title = 'HabiticaShow'
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.header
        a(href='./')
          h1 #{title}
      div.header
        div.h_cat
          p index
        dev.h_cat
          p login
    block content
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/javascripts/global.js')
